@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #121214;
    padding: 50px 0 0 30px;
    width: 50%;
    height: 100%;
}

#logo-rocketnews {
    width: 389px;
    height: 94px;
    margin-bottom: 90px;
}

#meio {
    padding: 9px 0;
}

.cabecalho h1 {
    color: #04D361;
}

.cabecalho h2 {
    color: #FFFFFF;
}

.cabecalho p {
    color: #E1E1E6;
}

form {
    margin-top: 52px;
}

label {
    color: #A8A8A8;
    padding-bottom: 17px;
}

form > input {
    width: 798px;
    height: 48px;
    border-left: 5px solid #04D361;
    padding: 10px;
}